:root {
    --font-default: 'EB Garamond', 'Palatino Linotype', 'Book Antiqua', serif;
    --font-title: 'Gabriela', 'Dumbledor 1', 'Palatino Linotype', 'Book Antiqua', serif;
    --font-book: 'Macondo', 'Morris Roman', 'Georgia', serif;
    --font-spell: 'New Rocker', 'Vecna', serif;
    --font-handwritten: 'Homemade Apple', 'Segoe Script', cursive;

    --mana-color: #4d4dff;
    --fatica-color: #ffd700;
    --tempo-color: #32cd32;
    --azione-color: #ff4d4d;
    --mm-color: #ff6600;
    --pp-color: #D100D1;

    --mana-color-inverse: #0000FF;
    --tempo-color-inverse: darkgreen;
    --mm-color-inverse: #994d00;
    --fatica-color-inverse: #cc9900;
    --azione-color-inverse: #cc0000;
    --pp-color-inverse: #990099;

}

.light-mode {
    --mana-color: #0000FF;
    --tempo-color: darkgreen;
    --mm-color: #994d00;
    --fatica-color: #cc9900;
    --azione-color: #cc0000;
    --pp-color: #990099;

    --mana-color-inverse: #4d4dff;
    --fatica-color-inverse: #ffd700;
    --tempo-color-inverse: #32cd32;
    --azione-color-inverse: #ff4d4d;
    --mm-color-inverse: #ff6600;
    --pp-color-inverse: #D100D1;
}

body {
    font-family: var(--font-default);

    font-size: 18px;
    line-height: 1.5;
    /* Ottimizza lo spazio verticale tra le righe di testo */
}

h1 {
    font-size: 160%;
}

h2 {
    font-size: 140%;
}

h3 {
    font-size: 120%;
}

h4 {
    font-size: 90%;
}

p {
    padding: 0px;
    margin: 0px;
}

strong {
    font-size: 110%;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: purple;
}

a:active {
    color: red;
}

.relevantTitle {
    font-family: var(--font-title);
    font-size: 30px;
    color: maroon;
}

a.relevantTitle:hover {
    color: red;
}

button {
    font-family: var(--font-default);
    font-size: 16px;
}

input {
    font-family: var(--font-default);
    font-size: 16px;
    margin: 0;
    padding: 0;
}

form {
    margin: 0;
    padding: 0;
}



/* --- CLASSI DI CATEGORIA (Colori fissi del manuale) --- */
.OFFENSIVO {
    background-color: #800000;
    color: white;
    text-align: left;
}

.MUTAFORMA {
    background-color: #CC6600;
    color: white;
    text-align: left;
}

.MARCHIO {
    background-color: #666666;
    color: white;
    text-align: left;
}

.CONTROLLO {
    background-color: #008080;
    color: white;
    text-align: left;
}

.MALATTIA {
    background-color: #666600;
    color: white;
    text-align: left;
}

.MALEDIZIONE {
    background-color: #4700B8;
    color: white;
    text-align: left;
}

.SUPPORTO {
    background-color: #0000FF;
    color: white;
    text-align: left;
}

.SERVITORE {
    background-color: #008000;
    color: white;
    text-align: left;
}

/* --- COLORI DELLE RISORSE --- */

.manaFont {
    color: var(--mana-color);
    font-weight: bold;
}

.faticaFont {
    color: var(--fatica-color);
    font-weight: bold;
}

.tempoFont {
    color: var(--tempo-color);
    font-weight: bold;
}

.azioneFont {
    color: var(--azione-color);
    font-weight: bold;
}

.mmFont {
    color: var(--mm-color);
    font-weight: bold;
}

.ppFont {
    color: var(--pp-color);
    font-weight: bold;
}
